.container>div p:first-child{
    font-weight: 500;
    color: black;
    margin-bottom: 30px;
  }
  .container>div p{
      cursor: pointer;
  }
  .container>div p:hover{
      text-decoration: underline;
  }